In [1]:
import numpy as np 
import pandas as pd
from sklearn.svm import SVC

In [6]:
cars = pd.read_csv('./cars.txt', header=None)
cars.columns = ["price", 'maint', 'doors', 'persons',
               'lug_boot', 'safty', 'recommend']
cars.tail()

     price maint  doors persons lug_boot safty recommend
1723   low   low  5more    more      med   med      good
1724   low   low  5more    more      med  high     vgood
1725   low   low  5more    more      big   low     unacc
1726   low   low  5more    more      big   med      good
1727   low   low  5more    more      big  high     vgood

In [7]:
# 进行数据的变换
# map 可以是函数也可以是字典
cars["price"].unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [18]:
price = {
    "vhigh":4,
    'high':3,
    'med':2,
    'low':1,
    "2":2,
    "3":3,
    "4":4,
    "5more":0,
    "more":5,
}

In [9]:
cars.price = cars["price"].map(price)

In [10]:
cars.maint = cars.maint.map(price)

In [19]:
cars.persons = cars.persons.map(price)
cars.doors = cars.doors.map(price)

In [21]:
cars.safty = cars.safty.map(price)

In [22]:
lug_boot= {
    "small": 1,
    "med": 2,
    "big": 3
}

In [23]:
cars.lug_boot = cars.lug_boot.map(lug_boot)

In [31]:
cars.head()

   price  maint  doors  persons  lug_boot  safty recommend
0      4      4      2        2         1      1     unacc
1      4      4      2        2         1      2     unacc
2      4      4      2        2         1      3     unacc
3      4      4      2        2         2      1     unacc
4      4      4      2        2         2      2     unacc

In [39]:
x = cars[["price", "maint", "doors", "persons", "lug_boot", "safty"]]
y = cars["recommend"]

In [40]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.1)

In [42]:
svc_rbf = SVC(kernel="rbf")
svc_linear = SVC(kernel="linear")
svc_poly = SVC(kernel="poly")

In [43]:
svc_rbf.fit(X_train, y_train)
svc_linear.fit(X_train, y_train)
svc_poly.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='poly',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [44]:
# 预测
rbf = svc_rbf.score(X_test, y_test)
linear = svc_linear.score(X_test, y_test)
poly = svc_poly.score(X_test, y_test)
print(rbf,linear, poly)

0.9710982658959537 0.8959537572254336 0.953757225433526

## 手迹识别  降维